# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.Stealth Baz Game.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\kelme\Documents\GitHub\MetalGearSlime\Stealth Baz Game\.idea\.idea.Stealth Baz Game\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
